<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
<div class="jumbotron" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    About Us <small>We can insure your pet.</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                   <p style="font-size: larger;"> "We are a pet insurance company dedicated to lizards. Reptiles are prone to issues such as: ear infections, metabolic bone disease, and mouth rot. It is our mission to help lizard owners take care of their scaly friends. You would have a health insurance policy for yourself and your dog, so why not a cold blooded reptile? See our silver and gold coverage plans today!"
                    </p>
                    
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Gecko, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>Lizard Insurance</strong><br>
                <a href="mailto:#">gecko.insurance.lizard@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

</div>