<div class="container" style="padding-bottom: 300px;">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Email Sent Successfully.</h1>
                <p>Thank you for contacting us.</p>
                <p>We will be in touch soon.</p>
                <a routerLink="/account/questionnaire" href="#">Insure another pet</a>
             </div>
          </div>
       </div>
    </div>
 </div>
