<div class="container">
    <div class="jumbotron" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1" style="text-align: center;">Your Account</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4" style="margin-top: 50px;">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3" style="font-size: x-large;">Your Pets:</div>
          </div>
          <div class="col">
            <div class="p-3" style="font-size: x-large;">Current Premium:</div>
          </div>
          <div class="col">
            <div class="p-3" style="font-size: x-large;">Current Plan:</div>
          </div>
          
        </div>
        
      </div>

      <div class="container" style="float:right">
        <div class="row gx-5">
            <div class="col">
        <button type="button" class="btn btn-outline-primary me-2" style="padding: 15px; width: 15em; float: right;">Add a Lizard</button>
      </div>
    </div>
</div>
<div class="container" style="float:right; padding: 10px;">
      <div class="row gx-5">
        <div class="col">
      
        <button type="button" class="btn btn-outline-primary me-2" style="padding: 15px; width: 15em;">Update Purchase</button>
        <button type="button" class="btn btn-outline-primary me-2" style="padding: 15px; width: 15em;">Cancel</button>
    </div>
</div>
</div>
</div>

