<div class="container overflow-hidden" style="margin-bottom: 200px;" >
    <div class="row gx-5">
      <div class="col" style="margin-left: 200px;">
       <div class="p-3" style="font-size: 3em; color: silver;">Silver</div>
       <ul class="list-group list-group-flush">
        <li class="list-group-item">*Illnesses</li>
        <li class="list-group-item">*Accidents</li>
        <li class="list-group-item">*Surgery</li>
        <li class="list-group-item">*Hospitalization</li>
        <li class="list-group-item">*Emergency Care</li>
        <li class="list-group-item">*Chronic Conditions</li>
      </ul>
      </div>
      <div class="col" style="margin-right: 200px;">
        <div class="p-3" style="font-size: 3em; color: gold;">+Gold</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">*Hereditary Conditions</li>
            <li class="list-group-item">*Congenital Conditions</li>
            <li class="list-group-item">*Cancer</li>
            <li class="list-group-item">*Diagnostic Treatment</li>
            <li class="list-group-item">*X-rays, blood tests, ultrasound</li>
            <li class="list-group-item">*Prescription Medications</li>
            <li class="list-group-item">*Specialty Care</li>
            <li class="list-group-item">*Alternative Treatment</li>
            <li class="list-group-item">*Physical Therapy</li>
            <li class="list-group-item">*Dental Cleaning</li>
            <li class="list-group-item" style="font-weight: 700;">+ Gold Plan includes everything Silver Plan offers.</li>
            
            
          </ul>
      </div>
    </div>
  </div>